{% extends 'base.html' %}
{% block title %}Update Profile{% endblock %}
{% block content %}
<h2>Update Your Profile</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.name.label }}<br>
        {{ form.name(size=40) }}
    </div>
    <div>
        {{ form.phone.label }}<br>
        {{ form.phone(size=40) }}
    </div>
    <div>
        {{ form.address.label }}<br>
        {{ form.address(size=40) }}
    </div>
    <br>
    {{ form.submit(class="btn") }}
</form>
{% endblock %}
